<template name="showdown">
    {{#with cartoon}}
    <div id="content-wrapper" class="wrapper">
        <div id="content" class="container">
            <div id="canvas" class="clearfix">
                {{#with optionA}}
                    {{> option}}
                {{/with}}

                <div class="or">or</div>

                {{#with optionB}}
                    {{> option}}
                {{/with}}
            </div>
        </div>
    </div>
    {{/with}}
    <div id="toolbar-wrapper" class="wrapper">
        <div id="toolbar" class="container">
            <div class="grid_12">
                <a class="submit button" href="/create/{{cartoon._id}}" title="Oh? You think you can do better?">Submit your own caption</a>
                <a class="skip button" href="/showdown" title="Yeah, I thought it was terrible, too.">Skip this showdown</a>
                <a class="next button hidden" href="/showdown" title="Let's keep up the hustle.">Go to the next showdown</a>

                <div id="bob" class="speaking">
                    <div class="bob-head"></div>
                    <div class="bob-throbber pulse"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="resources-wrapper" class="wrapper hidden">
        <div id="resources" class="container">
            <div class="grid_12">
                <p>This is where Bob lives!</p>
            </div>
        </div>
    </div>
</template>

<template name="option">
    <figure class="grid_6 omega cartoon-block cartoon-choose effeckt-caption effeckt-caption-3">
        <img class="cartoon-image" src="{{src}}" alt=""/>
        <span class="cartoon-caption">{{text}}</span>

        <figcaption>
            <div class="effeckt-figcaption-wrap">
                <h3>{{text}}</h3>
                <p>80%</p>
            </div>
        </figcaption>
    </figure>
</template>
