<template name="showdown">

    <div id="content-wrapper" class="wrapper">
        <div id="content" class="container">
            <div id="canvas" class="clearfix">
                <div class="grid_6 cartoon-block cartoon-1 selected" data-won="40" data-total="65" data-rank="1533">
                    <img class="cartoon-image" src="img/cartoon_1_orig_cat-mouse-gun.png" alt=""/>
                    <span class="cartoon-caption">Six rounds. Nine lives. You do the math.</span>
                </div>

                <div class="or">or</div>

                <div class="grid_6 omega cartoon-block cartoon-2" data-won="100" data-total="265" data-rank="5016">
                    <img class="cartoon-image" src="img/cartoon_1_orig_cat-mouse-gun.png" alt=""/>
                    <span class="cartoon-caption">Hey, I got nine kids, a dental floss problem, and an owner with a laser pointer &mdash; you'd be doing me a favor.</span>
                </div>
            </div>
        </div>
    </div>

    <div id="toolbar-wrapper" class="wrapper">
        <div id="toolbar" class="container">
            <div class="grid_12">
                <a class="submit button" href="#" title="Oh? You think you can do better?">Submit your own</a>
                <a class="skip button" href="#" title="Yeah, I thought it was terrible, too.">Skip this cartoon</a>
                <a class="next button hidden" href="#" title="Let's keep up the hustle.">Go to the next cartoon</a>
            </div>
        </div>
    </div>

    <div id="resources-wrapper" class="wrapper hidden">
        <div id="resources" class="container">
            <div class="grid_12">
                <p>This is where Bob lives!</p>
            </div>
        </div>
    </div>

</template>