<template name="showdown">
    {{#with cartoon}}
    <div id="content-wrapper" class="wrapper">
        <div id="content" class="container">
            <div id="canvas" class="clearfix">
                <figure class="grid_6 cartoon-block cartoon-1 reveal-data winner effeckt-caption effeckt-caption-3" data-won="40" data-total="65" data-rank="1533">
                    <img class="cartoon-image" src="{{src}}" alt=""/>
                    <span class="cartoon-caption">{{captionA}}</span>

                    <figcaption>
                        <div class="effeckt-figcaption-wrap">
                            <h3>{{captionA}}</h3>
                            <p>20%</p>
                        </div>
                    </figcaption>
                </figure>

                <div class="or">or</div>

                <figure class="grid_6 omega cartoon-block cartoon-2 reveal-data effeckt-caption effeckt-caption-3" data-won="100" data-total="265" data-rank="5016">
                    <img class="cartoon-image" src="{{src}}" alt=""/>
                    <span class="cartoon-caption">{{captionB}}</span>

                    <figcaption>
                        <div class="effeckt-figcaption-wrap">
                            <h3>{{captionB}}</h3>
                            <p>80%</p>
                        </div>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
    {{/with}}
    <div id="toolbar-wrapper" class="wrapper">
        <div id="toolbar" class="container">
            <div class="grid_12">
                <a class="submit button" href="/create/{{cartoon._id}}" title="Oh? You think you can do better?">Submit your own caption</a>
                <a class="skip button" href="/showdown" title="Yeah, I thought it was terrible, too.">Skip this showdown</a>
                <a class="next button hidden" href="/showdown" title="Let's keep up the hustle.">Go to the next showdown</a>
            </div>
        </div>
    </div>

    <div id="resources-wrapper" class="wrapper hidden">
        <div id="resources" class="container">
            <div class="grid_12">
                <p>This is where Bob lives!</p>
            </div>
        </div>
    </div>
</template>