<head>
    <meta charset="utf-8">
    <title>Humor Lab brought to you by Very Semi Serious</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link href='http://fonts.googleapis.com/css?family=Averia+Serif+Libre:300,700,300italic|Paytone+One|Gochi+Hand'
          rel='stylesheet' type='text/css'>
</head>

<body>

    <div id="header-wrapper" class="wrapper">
        <div id="header" class="container">
            <h2><span class="vss-logo">Very Semi-Serious</span> presents</h2>
            <h1>HumorLab</h1>
        </div>
    </div>

    <nav id="nav-wrapper" class="wrapper clearfix">
        <ul id="nav" class="prefix_4 grid_8">
            <li><a href="/browse">Browse cartoons</a></li>
            <li><a href="/showdown">Play the showdown</a></li>
            <li><a href="/create">Create your own caption</a></li>
        </ul>
    </nav>

    <div id="main">
        {{renderPage}}
    </div>

    <div id="footer-wrapper" class="wrapper">
        <div id="footer" class="container">
            <div class="grid_12">
                <span>&copy; 2013</span>
            </div>
        </div>
    </div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    var _gaq = [
        ['_setAccount', 'UA-XXXXX-X'],
        ['_trackPageview']
    ];
    (function (d, t) {
        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        g.src = '//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s)
    }(document, 'script'));
</script>
</body>