<template name="create">
    <div id="content-wrapper" class="wrapper">
        <div id="content" class="container">
            <div id="canvas" class="clearfix">
                <div class="grid_6 cartoon-block cartoon-single">
                    <img class="cartoon-image" src="{{cartoon.src}}" alt=""/>
                    <span class="cartoon-caption">CAPT</span>
                </div>
            </div>
        </div>
    </div>

    <div id="toolbar-wrapper" class="wrapper">
        <div id="toolbar" class="container">
            <div class="grid_12">
                <a class="submit button" href="#" title="Oh? You think you can do better?">Submit your own caption</a>
                <a class="skip button" href="#" title="Yeah, I thought it was terrible, too.">Skip this showdown</a>
                <a class="next button hidden" href="#" title="Let's keep up the hustle.">Go to the next showdown</a>
            </div>
        </div>
    </div>

    <div id="resources-wrapper" class="wrapper hidden">
        <div id="resources" class="container">
            <div class="grid_12">
                <p>This is where Bob lives!</p>
            </div>
        </div>
    </div>
</template>