<template name="create">
    <div id="content-wrapper" class="wrapper">
        <div id="content" class="container">
            <div id="canvas" class="clearfix">
                <div class="grid_6 cartoon-block cartoon-create push_3">
                    <img class="cartoon-image" src="{{cartoon.src}}" alt=""/>
                </div>

                <div class="grid_10 push_1 caption-enter">
                    <form>
                        <ol class="difficulty-selector">
                            <li>
                                <input type="radio" class="difficulty difficulty-easy" name="difficulty" id="difficulty-easy" value="1"/>
                                <label for="difficulty-easy">Easy</label>
                            </li>
                            <li>
                                <input type="radio" class="difficulty difficulty-medium" name="difficulty" id="difficulty-medium" value="2"/>
                                <label for="difficulty-medium">Medium</label>
                            </li>
                            <li>
                                <input type="radio" class="difficulty difficulty-hard" name="difficulty" id="difficulty-hard" value="3" checked="checked"/>
                                <label for="difficulty-hard">Hard</label>
                            </li>
                        </ol>
                        <input class="caption-entry" type="text" placeholder="Enter your caption here for the chance of eternal fame and glory."/>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="toolbar-wrapper" class="wrapper">
        <div id="toolbar" class="container">
            <div class="grid_12">
                <button class="submit button" title="Let's see how it fares, shall we?">Submit this caption</button>
            </div>
        </div>
    </div>

    <div id="resources-wrapper" class="wrapper hidden">
        <div id="resources" class="container">
            <div class="grid_12">
                <p>This is where Bob lives!</p>
            </div>
        </div>
    </div>
</template>