<template name="cartoon">
    <div id="content-wrapper" class="wrapper">
        <div id="content" class="container">
            <div id="canvas" class="clearfix">
                <div class="grid_6 cartoon-block cartoon-single push_3" data-won="40" data-total="65" data-rank="1533">
                    <img class="cartoon-image" src="{{cartoon.src}}"/>
                    <ol class="cartoon-caption-list">
                        {{#each captions}}
                        <li class="cartoon-caption">{{text}} ({{score}})</li>
                        {{/each}}
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div id="toolbar-wrapper" class="wrapper">
        <div id="toolbar" class="container">
            <div class="grid_12">
                <a class="submit button" href="/create/{{cartoon._id}}" title="Oh? You think you can do better?">Submit your own caption</a>
            </div>
        </div>
    </div>

    <div id="resources-wrapper" class="wrapper hidden">
        <div id="resources" class="container">
            <div class="grid_12">
                <p>This is where Bob lives!</p>
            </div>
        </div>
    </div>
</template>